/*
0 - 600px:    Phone
600 - 900px:  Tablet Portrait
900 - 1200px; Tablet landscape
[1200px - 1800px] is where normal styles are applied
1800px+:      Big Desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

::selection {
  background-color: #556ac5;
  color: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.header {
  color: #f1dda6;
  font-weight: 400;
}
.header-title--name {
  font-size: 10rem;
  letter-spacing: 3rem;
}
.header-title--sub {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1rem;
  text-shadow: 0.1rem 1rem 1rem #000;
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}

.header-font {
  font-family: "Protest Riot", sans-serif;
}

.bg-primary {
  background: #556ac5;
}

.bg-primary-light {
  background: #726fd5;
}

.bg-primary-dark {
  background: #2f28b4;
}

.bg-secondary-light {
  background: #f1dda6;
}

.bg-secondary-dark {
  background: #f1d032;
}

.bg-tertiary-light {
  background: #f35c5c;
}

.bg-tertiary-dark {
  background: #f33524;
}

.bg-black {
  background: #000;
}

.bg-white {
  background: #fff;
}

.opacity-100 {
  opacity: 1;
}

.opacity-50 {
  opacity: 0.5;
}

.padding-top-5 {
  padding-top: 5rem;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  background-color: #556ac5;
  width: 100rem;
  height: 3rem;
  padding: 1.5rem 4rem;
  border-radius: 3rem;
  color: white;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #556ac5;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #556ac5;
  padding: 3px;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #556ac5;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.gallery {
  display: block;
  position: relative;
  width: 100%;
  z-index: 0;
  perspective: 10rem;
}
.gallery__item {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  transition: all 0.5s ease-in-out;
}
.gallery__item--img {
  width: 40rem;
  object-fit: cover;
  border-radius: 1rem;
  box-shadow: 0 0 3rem -1rem #000;
  transition: all 0.5s ease-in-out;
}
.gallery__description {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 3rem;
  width: 50%;
  height: 17rem;
  background-color: #f1d032;
  font-size: 1.6rem;
  color: #333;
}
.gallery__description::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  transform: rotate(3deg);
  background: #726fd5;
}
.gallery__description::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
  box-shadow: 0 0 3rem -1rem #000;
  width: 100%;
  height: 100%;
}
.gallery--top {
  top: -13rem;
  left: 3rem;
  transform: scale(0.8);
  z-index: 1;
}
.gallery--top > img {
  transform: rotate(-10deg);
}
.gallery--bottom {
  top: 13rem;
  left: 3rem;
  transform: scale(0.8);
  z-index: 0;
}
.gallery--bottom > img {
  transform: rotate(10deg);
}

.active {
  top: 0;
  left: 1rem;
  opacity: 1;
  z-index: 2;
  pointer-events: none;
}
.active > img {
  transform: rotate(0);
}

.parallax {
  min-height: 100%;
  width: 100%;
  background-image: url("/img/header-main.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about {
  width: 100%;
  position: relative;
  max-height: 75rem;
  height: 90vh;
  min-height: 75rem;
  z-index: 0;
}
.about__section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}
.about__section-img {
  width: 40rem;
}
.about__section-description {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30rem;
  height: auto;
  width: 50%;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content auto;
  overflow: hidden;
}

.grid-item {
  grid-column: span 12;
}

.header {
  position: relative;
  height: 80vh;
  min-height: 50rem;
  width: 100%;
}
.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(32, 27, 27, 0.435);
}
.header-title {
  height: 100%;
  display: flex;
  margin: 0 3rem;
  flex-direction: column;
  justify-content: space-around;
}
.header-title--name {
  position: relative;
  display: inherit;
}
.header-title--sub {
  display: inherit;
  width: 50%;
  padding: 1rem;
  background-color: rgba(56, 56, 56, 0.3333333333);
}

.projects {
  width: 100%;
  position: relative;
  max-height: 75rem;
  height: 90vh;
  min-height: 75rem;
}

.projects {
  padding: 5rem 3rem;
}
.projects__header {
  font-size: 7.5rem;
  color: #726fd5;
  padding-bottom: 5rem;
  text-shadow: 0.2rem 0.2rem black;
}

.about {
  padding: 5rem 3rem;
}
.about__header {
  font-size: 7.5rem;
  color: #000;
  padding-bottom: 5rem;
  text-shadow: 0.2rem 0.2rem #fff;
}
.about__section-img {
  transform: scaleX(-1);
  filter: sepia(0.5);
  padding: 1rem;
  border: 1rem solid #f1dda6;
  border-radius: 50%;
}
.about__section-description {
  font-size: 1.6rem;
  padding: 3rem;
  border-radius: 1rem;
  background-color: #f1dda6;
}
.about__section-description::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  transform: rotate(3deg);
  background: #f35c5c;
  z-index: -1;
}
.about__section-description::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 1rem;
  box-shadow: 0 0 3rem -1rem #000;
  width: 100%;
  height: 100%;
}

.contact {
  padding: 5rem 0;
}
.contact__header {
  font-size: 7.5rem;
  color: #f1d032;
  padding-bottom: 5rem;
  text-shadow: 0.2rem 0.2rem black;
}

/*# sourceMappingURL=style.css.map */
