/*
0 - 600px:    Phone
600 - 900px:  Tablet Portrait
900 - 1200px; Tablet landscape
[1200px - 1800px] is where normal styles are applied
1800px+:      Big Desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import 'https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap';
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
}
@media only screen and (max-width: 56.25em) {
  body {
    padding: 0;
  }
}

::selection {
  background-color: #556ac5;
  color: #fff;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
}

.header {
  color: #f1dda6;
  font-weight: 400;
}
.header-title--name {
  font-size: 10rem;
  letter-spacing: 3rem;
}
.header-title--sub {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1rem;
  text-shadow: 0.1rem 1rem 1rem #000;
}

.center-text {
  text-align: center;
}

.left-text {
  text-align: left;
}

.right-text {
  text-align: right;
}

.header-font {
  font-family: "Protest Riot", sans-serif;
}

.bg-primary {
  background: #556ac5;
}

.bg-primary-light {
  background: #726fd5;
}

.bg-primary-dark {
  background: #2f28b4;
}

.bg-secondary-light {
  background: #f1dda6;
}

.bg-secondary-dark {
  background: #f1d032;
}

.bg-tertiary-light {
  background: #f35c5c;
}

.bg-tertiary-dark {
  background: #f33524;
}

.bg-black {
  background: #000;
}

.bg-white {
  background: #fff;
}

.opacity-100 {
  opacity: 1;
}

.opacity-50 {
  opacity: 0.5;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  background-color: #556ac5;
  width: 100rem;
  height: 3rem;
  padding: 1.5rem 4rem;
  border-radius: 3rem;
  color: white;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #556ac5;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #556ac5;
  padding: 3px;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #556ac5;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.gallery {
  display: block;
  position: relative;
  width: 100%;
}
.gallery__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 5rem 0;
  opacity: 0.5;
}
.gallery__item--img {
  width: 30rem;
  height: 100%;
  object-fit: cover;
}
.gallery__item--top {
  position: absolute;
  width: 30rem;
  top: 20rem;
  left: 20rem;
  transform: translate(-50%, -50%);
}
.gallery__item--bottom {
  position: absolute;
  width: 30rem;
  top: 40rem;
  left: 20rem;
  transform: translate(-50%, -50%);
}
.gallery__description {
  border: 3px solid #000;
  padding: 1rem;
  width: 50%;
  height: 17rem;
  background-color: rgba(255, 255, 255, 0.4);
  font-size: 1.6rem;
}

.active {
  opacity: 1;
}

.parallax {
  min-height: 100%;
  width: 100%;
  background-image: url("/img/dual-monitors.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: min-content auto;
  overflow: hidden;
}

.grid-item {
  grid-column: span 12;
}

.header {
  position: relative;
  height: 80vh;
  min-height: 50rem;
  width: 100%;
}
.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgba(32, 27, 27, 0.435);
}
.header-title {
  height: 100%;
  display: flex;
  margin: 0 3rem;
  flex-direction: column;
  justify-content: space-around;
}
.header-title--name {
  display: inherit;
}
.header-title--sub {
  display: inherit;
  width: 50%;
  padding: 1rem;
  background-color: rgba(56, 56, 56, 0.3333333333);
}

.section-projects {
  width: 100%;
  height: auto;
}

.section-projects {
  padding: 5rem 3rem;
}
.section-projects__header {
  font-size: 7.5rem;
  color: #000;
}

.section-about {
  background-color: #f1dda6;
  padding: 5rem 0;
}

.section-contact {
  background-color: #556ac5;
  padding: 5rem 0;
}

/*# sourceMappingURL=style.comp.css.map */
