@mixin clearfix {
  &::after {
    content: "";
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin btn($bg-color) {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  background-color: $bg-color;
}

@mixin rounded {
  border-radius: 3rem;
}

@mixin header($width, $clr, $bg-clr) {
  width: $width;
  position: relative;
  margin: 0 auto 10rem;

  border: .3rem solid $clr;
  background-color: $bg-clr;
  box-shadow: 1rem 1rem $clr;

  font-size: 7.5rem;
  color: $clr;
}

@mixin pseudo-style($el, $top-or-bottom, $tb-val, $left-or-right, $lr-val, $bg-clr, $brd-clr) {
  &:#{$el} {
    @extend %pseudos !optional;
    #{$top-or-bottom}: $tb-val;
    #{$left-or-right}: $lr-val;
    width: 2rem;
    height: 2rem;
    border: .3rem solid $brd-clr;
    border-radius: 50%;
    background: $bg-clr;
    transform: translate(-50%, -50%);
    @content;
  }
}

// MEDIA QUERY MANAGER
/*
0 - 600px:    Phone
600 - 900px:  Tablet Portrait
900 - 1200px; Tablet landscape
[1200px - 1800px] is where normal styles are applied
1800px+:      Big Desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/

@mixin respond($breakpoint) {

  // 600px
  @if $breakpoint ==phone {
    @media only screen and (max-width: 37.5em) {
      @content
    }

    ;
  }

  // 900px
  @if $breakpoint ==tab-port {
    @media only screen and (max-width: 56.25em) {
      @content
    }

    ;
  }

  // 1200px
  @if $breakpoint ==tab-land {
    @media only screen and (max-width: 75em) {
      @content
    }

    ;
  }

  // 1800px
  @if $breakpoint ==big-desktop {
    @media only screen and (max-width: 112.5em) {
      @content
    }

    ;
  }
}