// colors
$color-primary: #556ac5;
$color-primary-light: #726fd5;
$color-primary-dark: #2f28b4;

$color-secondary-light: #f1dda6;
$color-secondary-dark: #f1d032;

$color-tertiary-light: #f35c5c;
$color-tertiary-dark: #f33524;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark-1: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// font
$default-font-size: 1.6rem;