.about {
    width: 100%;
    position: relative;
    max-height: 85rem;
    height: 60vh;
    min-height: 85rem;
    z-index: 0;
    height: auto;

    @include respond(tab-port) {
        max-height: none;
        height: 105%;
    }
    @include respond(phone) {
        height: 105;
    }

    &__section {
        position: relative;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;

        @include respond(tab-port) {
        flex-direction: column;
        }

        &-img {
            width: 30rem;
        }

        &-description {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            min-height: 30rem;
            height: auto;
            width: 50%;
            
            @include respond(tab-port) {
                width: 50rem;
            }

            @include respond(phone) {
                width: 100%;
            }

        }

    }
}