.about {
    width: 100%;
    position: relative;
    max-height: 85rem;
    height: 90vh;
    min-height: 85rem;
    z-index: 0;

    &__section {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
        align-items: center;

        &-img {
            width: 30rem;
        }

        &-description {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            min-height: 30rem;
            height: auto;
            width: 50%;
        }

    }
}