.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat($grid-columns, 1fr);
  grid-template-rows: min-content auto;

  overflow: hidden;
}

.grid-item {
  grid-column: span $grid-columns;
}