.header {
  position: relative;
  height: 80vh;
  min-height: 50rem;
  width: 100%;
  
  &__text-box {
    @include absCenter;
    width: 100%;
    height: 100%; 
    background-color: rgba(32, 27, 27, 0.435);
    // box-shadow: 1px 0 5px 1px $color-secondary-light;
    // filter: drop-shadow(3px 5px 1px rgba(255, 255, 255));
  }

  &-title {
    height: 100%;
    display: flex;
    margin-left: 3rem;
    flex-direction: column;
    justify-content: space-around;


    &--name {
      display: inherit;
    }

    &--sub {
      display: inherit;
      width: 50%;
      padding: 1rem;
      background-color: #38383855;
    }
  }


  

}