.navigation {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 100%;
  overflow: hidden;
  z-index: 99;

  &__container {
    max-width: 132rem;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0 5rem;
    height: 10rem;

    @include respond(tab-port) {
      padding: 0 3rem;
    }
    @include respond(phone) {
      height: 26rem;
    }
  }
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  // width: 25%;
  min-width: 40rem;

  font-size: 3rem;

  list-style: none;
  transition: all .1s;

  @include respond(phone) {
    position: fixed;
    right: 0;
    top: 0;
    min-width: 10rem;
    margin: 1rem 1rem 0 0;
    
    flex-direction: column;
    height: 7rem;
    min-height: 7rem;
    width: 1rem;
    text-align: center;
    background-color: $color-primary-light;

    border-radius: .5rem;

    &:hover {
      cursor: pointer;
    }
  }

  &__items {
    padding: 0 1rem;
    margin: 0 2rem;

    border: .3rem solid $color-black;
    box-shadow: 1rem 1rem 0 $color-black;

    background-color: $color-secondary-dark;

    @include respond(phone) {
      height: 1rem;
      overflow: hidden;
      box-shadow: .3rem .3rem 0 $color-black;
    }

    &:hover {
      transition: all 0.2s;
      transform: scale(1.2) rotate(5deg);
      box-shadow: .5rem .5rem .5rem .1rem $color-black;
      
      @include respond(phone) {
        transition: none;
        transform: none;
        box-shadow: .3rem .3rem 0 $color-black;
        cursor: pointer;
      }
    }

    &>a {
      color: $color-black;
    }
  }
}

.logo {
  position: fixed;
  color: $color-black !important;
  line-height: 0;

  background-color: $color-secondary-light;
  border-radius: 50%;
  padding: 1rem;
  border: .3rem solid $color-primary-light;

  box-shadow: 1rem 1rem 0 $color-black;

  @include respond(phone) {
    margin-top: 1rem;
    align-self: flex-start;
  }

  & svg {
    height: 5rem;
    width: 5rem;
  }
}

.nav-close {
  display: none;

  @include respond(phone) {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3rem;
    background-color: white;
    width: 7rem;
    height: 7rem;

    cursor: pointer;
  }
}