.navigation {
  // background-image:
  //   url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%23726fd5' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%23f1dda6'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%23f1dda6'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23f35c5c'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  width: 100%;
  z-index: 99;

  &__container {
    max-width: 132rem;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    padding: 0 5rem;
    height: 10rem;
  }
}

.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  width: 25%;
  min-width: 40rem;

  font-size: 3rem;

  list-style: none;

  &__items {
    padding: 0 1rem;
    margin: 0 2rem;

    border: .3rem solid $color-black;
    box-shadow: 1rem 1rem 0 $color-black;

    background-color: $color-secondary-dark;

    &:hover {
      transition: all 0.2s;
      transform: scale(1.2) rotate(5deg);
      box-shadow: .5rem .5rem .5rem .1rem $color-black;
    }

    &>a {
      color: $color-black;
    }
  }
}

.logo {
  color: $color-black !important;
  line-height: 0;

  background-color: $color-secondary-light;
  border-radius: 50%;
  padding: 1rem;
  border: .3rem solid $color-primary-light;

  box-shadow: 1rem 1rem 0 $color-black;
  & svg {
    height: 5rem;
    width: 5rem;
  }
}