
.gallery {
  display: block;
  position: relative;
  width: 100%;

  z-index: 0;
  // experimental
  perspective: 10rem;

  &__item {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    
    justify-content: space-around;
    transition: all .5s ease-in-out;


    &--img {
      width: 40rem;
      object-fit: cover;
      border-radius: 1rem;
      box-shadow: 0 0 3rem -1rem $color-black;
      transition: all .5s ease-in-out;
    }
    
  }

  &__description {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    // border-radius: 1rem;
    border: .3rem solid $color-black;
    padding: 3rem;
    width: 50%;
    height: 17rem;
    background-color: $color-secondary-dark;
    font-size: 1.6rem;
    color: $color-grey-dark-3;

    &::after {
      z-index: -1;
      content: '';
      position: absolute;
      top: 2.3rem;
      left: 2.3rem;
      // border-radius: 1rem;
      width: 100%;
      height: 92%;
      transform: rotate(3deg);
      background: $color-black; 
    }

    &::before {
      z-index: -1;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 1rem;
      box-shadow: 0 0 3rem -1rem $color-black;
      width: 100%;
      height: 100%;
    }
  }

  &--top {
    top: -13rem;
    left: 3rem;
    transform: scale(.8);
    z-index: 1;

    & > img {
      transform: rotate(-10deg);
    }
    // & > :nth-child(2) {
    //   opacity: 0;
    // }
  }
  
  &--bottom {
    top: 13rem;
    left: 3rem;
    transform: scale(.8);
    z-index: 0;
    
    & > img {
      transform: rotate(10deg);
    }
    // & > :nth-child(2) {
    //   opacity: 0;
    // }
  }
}

// must go after .gallery-item to override opacity
.active {
  top: 0;
  left: 1rem;
  opacity: 1;
  z-index: 2;

  // we dont need any events on the active element
  pointer-events: none;

  & > img {
    transform: rotate(0);
  }
}