.gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;

  z-index: 0;

  &__item {
    &:nth-child(even) {
      flex-direction: row-reverse;

      @include respond(tab-port) {
        flex-direction: column;
      }
    }

    &:nth-child(odd) {
      flex-direction: row;

      @include respond(tab-port) {
        flex-direction: column;
      }
    }

    margin: 2rem 0;
    display: flex;
    align-items: center;
    width: 100%;

    justify-content: space-around;
    transition: all .5s ease-in-out;


    &-img-wrapper {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all .2s;
      border: .3rem solid $color-primary-light;
      background-color: $color-primary-dark;

      &::after {
        z-index: -1;
        content: '';
        position: absolute;
        top: 2.3rem;
        left: 2.3rem;
        width: 100%;
        height: 92%;
        transform: rotate(3deg);
        background: $color-primary-light;

        @include respond(tab-port) {
          background: none;
        }
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.1);

        @include respond(tab-port) {
          transform: scale(1);
        }
      }

      &>a {
        // act like a direct children to parents
        display: contents;
      }
    }

    &--img {
      width: 40rem;
      object-fit: cover;

      @include respond(tab-port) {
        width: 50rem;
      }
    }

  }

  &__description {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border: .3rem solid $color-primary-light;
    padding: 3rem 3rem;
    width: 50%;
    height: 22rem;
    background-color: $color-secondary-dark;
    font-size: 1.6rem;
    color: $color-primary-light;

    @include respond(tab-port) {
      width: 50rem;
      padding: 0 1rem;
    }

    &::before {
      z-index: -1;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 1rem;
      box-shadow: 0 0 3rem -1rem $color-black;
      width: 100%;
      height: 100%;
    }

    &::after {
      z-index: -1;
      content: '';
      position: absolute;
      top: 2.3rem;
      left: 2.3rem;
      width: 100%;
      height: 92%;
      transform: rotate(3deg);
      background: $color-primary-light;

      @include respond(tab-port) {
        background: none;
      }
    }
  }

  // &--top {
  //   top: -13rem;
  //   left: 3rem;
  //   transform: scale(.8);
  //   z-index: 1;

  // &>img {
  //   transform: rotate(-10deg);
  // }

  // & > :nth-child(2) {
  //   opacity: 0;
  // }
  // }

  // &--bottom {
  //   top: 13rem;
  //   left: 3rem;
  //   transform: scale(.8);
  //   z-index: 0;

  // &>img {
  //   transform: rotate(10deg);
  // }

  // & > :nth-child(2) {
  //   opacity: 0;
  // }
  // }
}

// must go after .gallery-item to override opacity
// .active {
//   top: 0;
//   left: 1rem;
//   opacity: 1;
//   z-index: 2;

//   &>img {
//     transform: rotate(0);
//   }
// }