.parallax {
  min-height: 100%;
  width: 100%;

  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 0.6),
    rgba($color-primary-dark, 0.3)),
    url("/img/header-main-2000.jpg");
  // background-color: rgba(255, 255, 255, 0.5);

  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  @include respond(tab-port) {
    background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.6),
      rgba($color-primary-dark, 0.3)),
      url("/img/header-main-600.jpg");
  }
}