.parallax {
  min-height: 100%; 
  width: 100%;

  background-image: url("/img/dual-monitors.jpg");
  // background-color: rgba(255, 255, 255, 0.5);

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}