
.skip-link {
  font-size: 2rem;
  background-color: $color-secondary-dark;
  padding: 0.5rem 1.5rem;
  border-radius: 0 0 0.25rem 0.25rem;
  position: absolute;
  left: 0.5rem;
  transform: translateY(-120%);
  z-index: 1000;
  transition: transform 0.3s ease-in-out;

  &:focus,
  &:active {
    transform: translateY(0);
  }
}