*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  // this defines what 1rem is
  // 1 rem = 10px; 10px/16px = 62.5%
  font-size: 62.5%;

  // width < 900px
  // 1 rem = 8px; 8px/16px = 50%
  @include respond(tab-port) {
    font-size: 50%;
  }
  // width < 1200px
  // 1 rem = 9px; 9px/16px = 56.25%
  @include respond(tab-land) {
    font-size: 56.25%;
  }
  // 1 rem = 12px; 12px/16px = 75%
  @include respond(tab-land) {
    font-size: 75%;
  }
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  // padding: 3rem;

  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

a {
  text-decoration: none;
}

a:visited, a:hover, a:active {
  color: inherit;
}