// TEXT_ALIGN
.center-text {
  text-align: center;
}

.left-text {
  text-align: left;

  @include respond(tab-land) {
    text-align: center;
  }
}

.right-text {
  text-align: right;

  @include respond(tab-land) {
    text-align: center;
  }
}


// HEADER_FONT
.header-font {
  font-family: $header-font;
}

// BACKGROUND
.bg-primary {
  background: $color-primary;
}

.bg-primary-light {
  background: $color-primary-light;
}

.bg-primary-dark {
  background: $color-primary-dark;
}

.bg-secondary-light {
  background: $color-secondary-light;
}

.bg-secondary-dark {
  background: $color-secondary-dark;
}

.bg-tertiary-light {
  background: $color-tertiary-light;
}

.bg-tertiary-dark {
  background: $color-tertiary-dark;
}

.bg-black {
  background: $color-black;
}

.bg-white {
  background: $color-white;
}

// $color-grey-light-1;
// $color-grey-light-2;

// $color-grey-dark-1;
// $color-grey-dark-2;
// $color-grey-dark-3;

// OPACITY
.opacity-100 {
  opacity: 1;
}

.opacity-75 {
  opacity: .75
}

.opacity-50 {
  opacity: 0.5;
}

// PADDING
.padding-top-5 {
  padding-top: 5rem;
}

// TEXT
.capitalize {
  text-transform: uppercase;
}

// IN-VIEW-SCROLL
.scroll-left-fade {
  transform: translateX(10rem);
  @include scroll-fade;

  @include respond(tab-port) {
    transform: none;
  }
}

.scroll-right-fade {
  transform: translateX(-10rem);
  @include scroll-fade;

  @include respond(tab-port) {
    transform: none;
  }
}

.scroll-top-fade {
  transform: translateY(10rem);
  @include scroll-fade;
}

.scroll-in-view {
  transform: none;
  opacity: 1;
}

// NAVIGATION CONTROL
.active-phone-nav {
  width: 100%;
  height: 22rem;
}

.active-phone-children {
  height: auto;
}