.section-projects{

  &__header {
    font-size: 7.5rem;
    color: $color-black;
    padding-bottom: 5rem;
  }

}
.section-about{
  background-color: $color-secondary-dark;
  padding: 5rem 0;
}

.section-contact{
  background-color: $color-primary;
  padding: 5rem 0;
} 