.projects {
  padding: 5rem 3rem;

  &__header {
    @include header(35rem);
    @include pseudo-style(before, top, 0, left, 0);
    @include pseudo-style(after, top, 0, right, -6%);
  }

}

.about {
  padding: 5rem 3rem;

  &__header {
    @include header(40rem);
    @include pseudo-style(before, top, 0, left, 0);
    @include pseudo-style(after, top, 0, right, -6%);
  }

  &__section {
    &-img {
      transform: scaleX(-1);
      filter: sepia(.5);
      padding: 1rem;
      border: 1rem solid $color-secondary-light;
      border-radius: 50%;
    }

    &-description {
      font-size: 1.6rem;
      padding: 3rem;

      border-radius: 1rem;

      background-color: $color-secondary-light;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 1rem;
        transform: rotate(3deg);
        background: $color-tertiary-light;
        z-index: -1;
      }

      &::before {
        z-index: -1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 1rem;
        box-shadow: 0 0 3rem -1rem $color-black;
        width: 100%;
        height: 100%;
      }
    }
  }
}