// CONTAINER MAX WIDTH
.container {
  margin: 0 auto;
  max-width: 132rem;
  height: 100%;
  position: relative;
}

.projects {
  padding: 5rem 3rem;

  @include respond(tab-port) {
    padding: 5rem 0;
  }

  &__header {
    @include header(35rem, $color-primary-light, $color-secondary-dark);
    @include pseudo-style(before, top, 0, left, 0, $color-secondary-dark, $color-primary-light);
    @include pseudo-style(after, top, 0, right, -6%, $color-secondary-dark, $color-primary-light);
  }

}

.about {
  padding: 5rem 3rem;

  @include respond(tab-port) {
    padding: 5rem 0;
  }

  &__header {
    @include header(40rem, $color-tertiary-light, $color-secondary-light);
    @include pseudo-style(before, top, 0, left, 0, $color-secondary-light, $color-tertiary-light);
    @include pseudo-style(after, top, 0, right, -6%, $color-secondary-light, $color-tertiary-light);
  }

  &__section {

    &-description {
      font-size: 1.8rem;
      padding: 3rem;

      // border-radius: 1rem;
      color: $color-tertiary-light;
      border: .3rem solid $color-tertiary-light;
      background-color: $color-secondary-light;

      @include respond(tab-port) {
        border: none;
      }

      &::before {
        z-index: -1;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 1rem;
        box-shadow: 0 0 3rem -1rem $color-black;
        width: 100%;
        height: 100%;
      }

      &::after {
        z-index: -1;
        content: '';
        position: absolute;
        top: 2.3rem;
        left: 2.3rem;
        // border-radius: 1rem;
        width: 100%;
        height: 92%;
        transform: rotate(3deg);
        background: $color-tertiary-light;

        @include respond(tab-port) {
          background: none;
        }
      }
    }
  }

  &__img-container {
    position: relative;
    width: 30rem;
    height: 30rem;

    @include respond(tab-port) {
      margin-bottom: 3rem;
    }

    @include respond(phone) {
      margin-bottom: 3rem;
    }

    &>.about-img {
      transform: scaleX(-1);
      height: inherit;
      width: inherit;
      filter: sepia(.4);
      border: .3rem solid $color-tertiary-light;
    }

    &::after {
      z-index: -1;
      content: '';
      position: absolute;
      top: 2.3rem;
      left: 2.3rem;
      // border-radius: 1rem;
      width: 100%;
      height: 92%;
      transform: rotate(3deg);
      background: $color-tertiary-light;
    }
  }
}

// IMG FRAME TRIANGLES
.frame-top-left {
  position: absolute;
  top: -3.5rem;
  left: -1rem;

  width: 0;
  height: 0;
  border-top: 5rem solid transparent;
  border-bottom: 5rem solid transparent;
  border-right: 5rem solid $color-secondary-light;

  transform: rotate(45deg);

  z-index: 1;
}

.frame-top-right {
  position: absolute;
  top: -3.5rem;
  right: -1rem;

  width: 0;
  height: 0;
  border-top: 5rem solid transparent;
  border-bottom: 5rem solid transparent;
  border-right: 5rem solid $color-secondary-light;

  transform: rotate(135deg);

  z-index: 1;

}

.frame-bottom-left {
  position: absolute;
  bottom: -3.4rem;
  left: -1rem;

  width: 0;
  height: 0;
  border-top: 5rem solid transparent;
  border-bottom: 5rem solid transparent;
  border-right: 5rem solid $color-secondary-light;

  transform: rotate(-45deg);

  z-index: 1;
}

.frame-bottom-right {
  position: absolute;
  bottom: -3.4rem;
  right: -1rem;

  width: 0;
  height: 0;
  border-top: 5rem solid transparent;
  border-bottom: 5rem solid transparent;
  border-right: 5rem solid $color-secondary-light;

  transform: rotate(-135deg);

  z-index: 1;
}