.projects {
  padding: 5rem 3rem;

  &__header {
    font-size: 7.5rem;
    color: $color-primary-light;
    padding-bottom: 5rem;
    text-shadow: .2rem .2rem black;
  }

}

.about {
  padding: 5rem 3rem;

  &__header {
    font-size: 7.5rem;
    color: $color-black;
    padding-bottom: 5rem;
    text-shadow: .2rem .2rem $color-white;
  }

  &__section {
    &-img {
      border-radius: 50%;
    }

    // &-description {
    // }
  }
}

.contact {
  padding: 5rem 0;

  &__header {
    font-size: 7.5rem;
    color: $color-secondary-dark;
    padding-bottom: 5rem;
    text-shadow: .2rem .2rem black;
  }
}